:root {
    --primaryColor: #5aadce;
    --mainWhite: #fff;
    --offWhite: #f7f7f7;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --darkGrey: #cfcfcf;
    --mainTransition: all 0.3s linear;
    --mainSpacing: 3px;
    --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
    --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.fade-top {
    animation: fadeinFromTop 1s;
}

.fade-left {
    animation: fadeinFromLeft 1s;
}

.fade-right {
    animation: fadeinFromRight 1s;
}

.ant-comment-content-author-name>* {
    color: black
}

.ant-comment-content-author-name>*:hover {
    color: black
}

.ant-comment-content-author>a,
.ant-comment-content-author>span {
    padding-right: 8px;
    font-size: 15px;
    line-height: 18px;
}

/* Hero */
.defaultHero {
    min-height: calc(70vh - 66px);
    background: url("../assets/hero.png") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* End of Hero */
/* Banner */
.banner {
    display: inline-block;
    background: rgba(0, 0, 0, 0.5);
    color: var(--mainWhite);
    padding: 2rem 1rem;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}

.banner h1 {
    font-size: 2.5rem;
    color: white;
}

.banner div {
    width: 10rem;
    height: 5px;
    background: var(--primaryColor);
    margin: 1.7rem auto;
}

.banner p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

@media screen and (min-width: 576px) {
    .banner {
        padding: 2rem 3rem;
    }

    .banner h1 {
        font-size: 3rem;
    }
}

@media screen and (min-width: 992px) {
    .banner {
        padding: 2rem 6rem;
    }

    .banner h1 {
        font-size: 4rem;
    }
}

/* End of Banner */
/* Title */
.section-title {
    text-align: center;
    margin-bottom: 4rem;
}

.section-title h4 {
    font-size: 2rem;
    letter-spacing: var(--mainSpacing);
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.section-title div {
    width: 5rem;
    height: 5px;
    margin: 0 auto;
    background: var(--primaryColor);
}

/* end of Title */

/* services */
.services {
    padding: 5rem 0;
}

.services {
    text-align: center;
}

.services-center {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 50px;
}

.service span {
    display: inline-block;
    color: var(--primaryColor);
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.services h6 {
    letter-spacing: var(--mainSpacing);
}

.services p {
    width: 80%;
    margin: 0 auto;
}

@media screen and (min-width: 992px) {
    .services-center {
        width: 95vw;
        max-width: 1170px;
    }
}

@media screen and (min-width: 1200px) {
    .services p {
        width: 100%;
    }
}

/*end of services */
@keyframes fadeinFromTop {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeinFromLeft {
    from {
        transform: translateX(-150%);
    }
}

@keyframes fadeinFromRight {
    from {
        transform: translateX(150%);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}